@charset "utf-8";
/* CSS Document */
body{
	font: 80%/130% Arial, Helvetica, sans-serif;
	color:#333;
	background:#FFCC66;
	margin: 0 0 0 0;	
}
#pagina{
	/*background:#FFF;*/
	max-width:100%;
	max-height:99%;
	margin: 0 auto 0px auto;
	text-align: left;
	position:relative;
	clear:both;
	overflow:hidden;
	z-index:1;	
}
#cabecera{
	background:#FFF;
	position:relative;
	clear:both;
	z-index:10;	
}
#menu{
	position:relative;
	clear:both;
	z-index:11;
	text-align:center;
	background:#333333;
	color:#FFFFFF;
}
#barra_ruta{
	font-family: arial;
	font-size:.8em;
	color:#999;
	background:#fff;
	padding: 0 5px 0 5px;
	margin-bottom: 5px;
	text-align: left;
	border-bottom: 1px solid #FF9933;
}
#menuizq{
	background:#FFF;
	position:relative;
	height:98%;
	min-height:680px;
	min-width:15%;
	max-width:100px;
	margin: 0 0 1% 1%;
	float: left;
	overflow:hidden;		
	z-index:2;
	border: 1px solid #FF9933;
}
#contenido{
	background:#FFF;
	position:relative;
	height:98%;
	min-height:670px;	
	width:81%;
	min-width:20px;
	margin: 0 0 5px 3px;
	padding: 5px 0 5px 3px;
	float: left;
	overflow:auto;		
	z-index:2;
	border: 1px solid #FF9933;
}
#contenido-login{
	background:#FFF;
	position:relative;
	height:50%;
	min-height:680px;	
	width:99%;
	min-width:20px;
	margin: 0 0 5px 3px;
	float: left;
	overflow:hidden;		
	z-index:2;
	border: 1px solid #FF9933;
}
#login{
	position:relative;
	clear:both;
	color:#FFF;
	font-weight:bold;
	margin: 0 25% 0 25%; 
	z-index:3;
}
#barra_fin{
	background:#333;
	position:relative;
	clear:both;
	height:5px;
	z-index:3;
}
#pie{
	color:#666666;
	font-size:.8em;
	line-height:110%;
	text-align:center;
	position:relative;
	clear:both;
	z-index:2;
}

.titulo1{
	font-size:1.5em;
	font-weight:bold;
	color:#000000;
}
.titulo2{
	font-size:1.1em;
	font-weight:bold;
	color:#000000;
}
.titulo3{
	font-size:1em;
	font-weight:bold;
	color:#000000;
}
.txt_usuario{
	font-size:1em;
	color:#999;
	margin: 0 5px 0 5px;
	text-align: left;
}
.txt_fecha{
	font-size:1em;
	color:#999;
	margin: 0 5px 0 5px;
	text-align: right;
}
.msj_rojo{
	font-size:.9em;
	color:#F2606A;
	font-weight:bold;
}
.tit_azul{
	font-size:.9em;
	color:#59ACFF;
	font-weight:bold;
}

a.link_menu:link { text-decoration: none; color:#FFF;}
a.link_menu:visited { text-decoration: none; color:#FFF; }
a.link_menu:hover { text-decoration: underline; color:#FFCC66; }